block mainVars

doctype html
html
    include default-partials/html-head
    body#page-top
        include default-partials/header
        div.main.test
            block content
        include default-partials/footer
        include default-partials/scripts